/*'../img/backgrounds/anastasia-ermakova-3.jpg'*/

html {
  height: 100%;
  width: 100%;
  /*overflow-y: hidden;*/
  /*overflow-x: hidden;*/
}

body {
    
    background-color: black;
    padding: 2% ;
}

.div-background {
    
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: url("../img/backgrounds/aquarium2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: 1;
    display: block;
}

.blur-filter{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    scroll-behavior: auto;
    position: relative ;
    left: 0;
    right: 0;
    padding-top: 5%;
}

iframe {
    padding-top: 64px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top:100px;
    left: 15%;
    width: 75%;
    height: 100%;
}

.watchlist {
    position: absolute;
    background-color: transparent;
    top:0px;
    left: 0%;
    width: 100%;
    height: 100%;
}

.date-lbl {
    height: 50px;
    width: 100px;
    background-color: blue;
    opacity: 100%
}

.post-lbl {
    height: 50px;
    width: 350px;
    background-color: gray;
    opacity: 100%
}
.div-home {
    position: relative;
    z-index: 1;
}

.timeline{
    max-width: 300px;
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto;
    scroll-behavior: smooth;  
}

.div-blog{
    background-color: rgb(35, 48, 69, 0.35);
    margin-right: 10%;
    margin-left: 10% ;
    position: relative;
    z-index: 1;
}

.div-resume {
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    scroll-behavior: smooth;
    background-color: transparent;
    z-index: 1;
}


::-webkit-scrollbar{
    background:transparent;
}
.resume-block-title {
    height: 35px ;
    width:  250px ;
    background-color:  rgb(30,46,60) ;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: Architects Daughter;
    padding-top: 4px;   
}


.v1{
    position: absolute;
    border-left: 1px solid black;
    height: 40px;
    vertical-align: middle;
    text-align: center;
}
.whiteLine{
    position: relative;
    border-left: 1px solid white;
    height: 1px;
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.blackLine{
    height: 2px;
    width: 300px;
    vertical-align: middle;
    background-color: black;
    overflow: hidden;
    margin-top: 10px ;
}

.skill-frame{
    border-radius: 15px;
    border: 1px solid black;
    padding: 20px;
    width: 100%;
    height: 70%;
    padding-top: 15px;
    padding-bottom: 5px;
    
    
}
.skill-frameBar { 
	height: 80%;  /* Can be anything */
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid black;
	border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);    
}
.skill-frameBar > span {
    
    height: 75%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(30,46,60);
    background-image: linear-gradient(
        center bottom,
        rgb(30,46,60) 37%,
        gray 69%
    );
    box-shadow: 
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    position: absolute;
    overflow: hidden;
}

.language-frameBar { 
    
	height: 50%;  /* Can be anything */
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid white;
	border-radius: 25px;
    box-shadow: inset 0 -1px 1px rgb(255, 255, 255);    
}
.language-frameBar > span {
    
    height: 45%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    background-image: linear-gradient(
        center bottom,
        rgb(30,46,60) 37%,
        gray 69%
    );
    box-shadow: 
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    position: absolute;
    overflow: hidden;
    
}

.img_avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    src: url("../img/backgrounds/aquarium.jpg");
    
}
.profile-circle {
    border-radius: 50%;
    background-color: rgb(95, 133, 167);
    width: 150px;
    height: 150px;
    padding-bottom: 50px ;    
}

.fa-linkedin{
    color: white;
}
.fa-github{
    color: white;
}
.fa-twitter{
    color: white;
}

.site-footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
}


/*
    NAVBAR
*/

.katakanaFont {
    font-family: 'Kosugi Maru', sans-serif;   
}

/*BLOG*/
.post-preview > a {
  color: #66283d;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #943346;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #c0e0e6;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #6a4752;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #66283d;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

/*Pager*/
.pager {
    margin: 20px 0 0;
  }
.pager li > a,
.pager li > span {
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
text-transform: uppercase;
font-size: 14px;
font-weight: 800;
letter-spacing: 1px;
padding: 10px 5px;
background-color: white;
border-radius: 0;
}
@media only screen and (min-width: 768px) {
.pager li > a,
.pager li > span {
    font-size: 14px;
    padding: 15px 25px;
}
}
.pager li > a:hover,
.pager li > a:focus {
color: white;
background-color: #0085a1;
border: 1px solid #0085a1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
color: #808080;
background-color: #404040;
cursor: not-allowed;
}

.page-link:focus, .page-link:hover{
    z-index: 1;
    color: rgb(192, 224, 230);
    background-color: rgb(62, 105, 139); 

    
}

.page-link {
 
    position: relative;
   
    display: block;
   
    padding: 0.5rem 0.75rem;
   
    margin-left: -1px;
   
    line-height: 1.25;
   
    color: rgb(192, 224, 230);
   
    background-color: rgba(25, 48, 69, 0.50);
   
    border: 1px solid rgb(18, 18, 23);
   
  }