---
---
/*'../img/backgrounds/anastasia-ermakova-3.jpg'*/
$baseurl: "{{ relative_url }}";
$bgrurl: "{{ site.background_image }}";

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url($baseurl + $bgrurl);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
