
<div class="text-center" style="width: 100%; height: 100vh; margin-top: 100px ;" >
    <img class="img_avatar img-fluid" src="{{site.baseurl}}/img/closeBW.jpg">
    <div class=" container blackLine"></div>
    <div class="container katakanaFont" style="color: white;">
        <p>今後: Machine Learning Engineer • 過去:  iOS Developer </p>
    </div>
    <!--<a class="twitter-timeline" href="https://twitter.com/init_Tracer?ref_src=twsrc%5Etfw">Tweets by init_Tracer</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8" style="background-color: transparent; overflow: auto;"></script>-->
</div>


  https://chrome.google.com/webstore/detail/language-learning-with-ne/hoombieeljmmljlkjmnheibnpciblicm?hl=en