<html>
<div class="row div-home" style="margin-top: 40px;">
    <div class="col-md-2 timeline" style="min-width: 220px;">
        <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/init_Tracer?ref_src=twsrc%5Etfw"></a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col text-center" style="">
        <div class="container">
            <img class="img_avatar img-fluid" src="{{site.baseurl}}/img/closeBW.jpg">
            <div class="container blackLine"></div>
            <div class="container katakanaFont" style="color: white;">
                <p>今後: Machine Learning Engineer • 過去: iOS Developer </p>
            </div>
        </div>
    </div>

</div>

</html>