<html>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Architects Daughter">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <div class="resume-div">
        <div class="row">
        
            <div class="col" style="background-color: rgb(30,46,60); color: white;">
                <div class="container" style="background-color: red; padding-left: 40px; padding-right: 0px; overflow: hidden;">
                    
                    <div class="row">
                        <div class="container" style="text-align: center;">
                            <b> Eduardo Prado </b> <br>
                            <p style="font-size: 10pt;">M.Sc Biomedical Computing</p>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xs-2 wrapper" style="display: inline;">PROFILE</div>
                        <div class="col-xs-7 wrapper" style="padding-left: 10px;">
                            <div class="whiteLine" ></div>
                        </div>    
                        <div class="container" style="padding-right: 25px; font-size: 10pt; text-align:justify ;">
                            Professional committed to the engineering and software
                            technologies field, skillful on the implementation of 
                            healthcare solutions. Experience implementing imaging systems
                            and medical applications.
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-xs-2 wrapper" style="display: inline;">LANGUAGES</div>
                        <div class="col-xs-7" style="padding-left: 10px;">
                            <div class="whiteLine" ></div>
                        </div>    
                    </div>
                    
                    
                    <div class="row align-items-center">
                        <div class="col-xs-2 wrapper" style="display: inline;">SOFTWARE SKILLS</div>
                        <div class="col-xs-7" style="padding-left: 10px; ">
                            <div class="whiteLine" ></div>
                        </div>    
                        <div class="container" style="padding-right: 25px; font-size: 10pt; text-align:justify;">
                            MacOS, Windows, Linux,
                            Microsoft Office, Arduino,
                            Objective-C, LateX, Agile/Scrum,
                            Inkscape, GIMP, PyCharm,
                            Blender, HTML5/CSS, Bootstrap.
                        </div>
                    </div>
                    
                    <div class="row align-items-center">
                        <div class="col-xs-2 wrapper" style="display: inline;">CONTACT</div>
                        <div class="col-xs-7" style="padding-left: 10px; padding-right:50px;">
                            <div class="whiteLine" ></div>
                        </div>    
                        <div class="container">
                            <div class="row container" style="padding: 5%;">
                                <i class="fas fa-mobile-alt fa-2x"></i>
                            </div>
                            <div class="row container" style="padding: 5%;">
                                <i class="fab fa-github fa-2x"></i>
                            </div>
                            <div class="row container" style="padding: 5%;">
                                <i class="fas fa-house-user"></i>
                            </div>
                            <div class="row align-items-start">
                                <div class="col-sm"><i class="fab fa-linkedin fa-2x"></i></i></div>
                                <div class="col-sm"><i class="fab fa-github fa-2x"></i></div>
                                <div class="col-sm"><i class="fab fa-twitter fa-2x"></i></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xs-2 wrapper" style="display: inline;">INTERESTS</div>
                        <div class="col-xs-7" style="padding-left: 10px; padding-right:50px;">
                            <div class="whiteLine" ></div>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="col-8" style="background-color: rgb(234,234,234);">
                <div class="row">
                        <div class="container" style="padding-top: 25px;">
                            <div class="resume-block-title"> 
                                Education
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <p><b> Degree </b><br>
                                        Institute
                                    </p> 
                                </div>
                                <div class="col" >
                                    <p><b>M.Sc in Biomedical Computing (2020)</b><br>
                                    Technical University Munich
                                    </p>
                                </div>
                            </div>
                            <div class="row">                            
                                <div class="col-3">
                                    <p><b> Degree </b><br>
                                        Institute
                                    </p> 
                                </div>
                                <div class="col" style="">
                                    <p><b> B.Sc in Biomedical Engineering (2014) </b><br>
                                    Tecnologico de Monterrey (GDL, Mexico)
                                    </p>
                                </div>
                            </div>        
                        </div> 
                </div>
                <div class="row" style="padding-right: 40px;">
                    <div class="container" style="padding-bottom: 10px; ">
                        <div class="resume-block-title"> 
                            Work Experience
                        </div>
                    </div>
                    <div class="container" >
                        <div class="row" >
                                <div class="container" >
                                    <div class="v1"></div>
                                </div>
                                <div class="col" style="padding-left: 35px;">
                                    <div class="row">
                                        <b>Definiens  (May 2020 - September 2020)</b>
                                    </div>
                                    <div class="row" style="font-size: 10pt;">
                                        (Software Engineer / Machine Learning)
                                    </div>
                                </div>
                            
                        </div>
                        <div class="row" style="padding-left: 30px; padding-right: 10px;">
                            Python Software development oriented to internal Machine
                            learning framework and tools. Continuous research of Machine
                            learning related tools.
                        </div>
                    </div>
                    <div class="container" >
                        <div class="row" >
                                <div class="container" >
                                    <div class="v1"></div>
                                </div>
                                <div class="col" style="padding-left: 35px;">
                                    <div class="row">
                                        <b>QuickBird Studios  (Working Student 2019)</b>
                                    </div>
                                    <div class="row" style="font-size: 10pt;">
                                        (iOS Developer)
                                    </div>
                                </div>
                            
                        </div>
                        <div class="row" style="padding-left: 30px; padding-right: 10px;">
                            <p>
                            Front-end development for Diabetes patients diary Log. The
                            application connects to Accu-check devices to record glucose and
                            insulin values.
                            </p> 
                        </div>
                    </div>
                    <div class="container" >
                        <div class="row" >
                                <div class="container" >
                                    <div class="v1"></div>
                                </div>
                                <div class="col" style="padding-left: 35px;">
                                    <div class="row">
                                        <b>MOTIUS GMBH (Working Student 2018)</b>
                                    </div>
                                    <div class="row" style="font-size: 10pt;">
                                        (iOS Developer))
                                    </div>
                                </div>
                        </div>
                        <div class="row" style="padding-left: 30px; padding-right: 10px;">
                            <p> Application maintenance and bug recognition for "TrustYou Radar".
                            App for sentiment analysis in hotel administration.
                            </p>
                        </div>
                    </div>
                    <div class="container" >
                        <div class="row" >
                                <div class="container" >
                                    <div class="v1"></div>
                                </div>
                                <div class="col" style="padding-left: 35px;">
                                    <div class="row">
                                        <b>Amplemind Technology Agency (2016 -  2017)</b>
                                    </div>
                                    <div class="row" style="font-size: 10pt;">
                                        (iOS Developer)
                                    </div>
                                </div>
                            
                        </div>
                        <div class="row" style="padding-left: 30px; padding-right: 10px;">
                            Multiple published mobile applications implementations like:
                            <ul>
                                <li><b>Grupo Expansion (CNN)</b> News Feed app (Swift/Realm)</li>
                                <li><b>PITZ: Soccer league administration app. (Swift/Realm)</b></li>
                            </ul>
                        </div>
                    </div>
                    <div class="container" >
                        <div class="row" >
                                <div class="container" >
                                    <div class="v1"></div>
                                </div>
                                <div class="col" style="padding-left: 35px;">
                                    <div class="row">
                                        <b>Center for Medical Image & Diagnosiis "CID" (2014 - 2016)</b>
                                    </div>
                                    <div class="row" style="font-size: 10pt;">
                                        (Chief Biomedical Engineer)
                                    </div>
                                </div>
                            
                        </div>
                        <div class="row" style="padding-left: 30px; padding-right: 10px;">
                            Oversee operations of the Clinical ENgineering Department such as:
                            <ul>
                                <li>Clinical Imaging Equipment administration.</li>
                                <li>PACS SERVER administration.</li>
                                <li>Healthcare equipment and facilities service engineer.</li>
                            </ul>
                        </div>
                    </div>        
                </div>

                <div class="row" style="padding-right: 40px;" >
                    <div class="container" style="padding-bottom: 10px;">
                        <div class="resume-block-title"> 
                            Professional Skills
                        </div>
                    </div>
                    <div class="container">
                        
                            <div class="row">
                                <div class="col" style="vertical-align: center;">
                                    <ui><li><b> Swift </b></li></ui> 
                                </div>
                                <div class="col" >
                                    <div class="skill-frameBar"> <span style="width: 70%;"></span> </div> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ui><li> <b> Python </b></li></ui>
                                </div>
                                <div class="col">
                                    <div class="skill-frameBar"> <span style="width: 65%;"></span> </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col"><ui><li><b> Tensorflow </b></li></ui> </div>
                                <div class="col">
                                    <div class="skill-frameBar"> <span style="width: 60%;"></span></div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col"><ui><li><b> Pytorch </b></li></ui> </div>
                            <div class="col">
                                <div class="skill-frameBar"> <span style="width: 59%;"></span></div>
                            </div>   
                            </div>
                            <div class="row">
                                <div class="col"><ui><li><b> Matlab </b></li></ui> </div>
                                <div class="col">
                                    <div class="skill-frameBar"> <span style="width: 50%;"></span></div>
                                </div>   
                            </div>
                            <div class="row">
                                <div class="col"><ui><li><b> C++ </b></li></ui> </div>
                                <div class="col">
                                    <div class="skill-frameBar"> <span style="width: 42%;"></span></div>
                                </div>   
                            </div>
                            <div class="row">
                                <div class="col"><ui><li><b> Django </b></li></ui> </div>
                                <div class="col"> <div class="skill-frameBar"> <span style="width: 45%;"></span></div></div>
                            </div>
                            <div class="row">
                                <div class="col"><ui><li><b> keras</b> </li> </ui></div>
                                <div class="col"><div class="skill-frameBar"> <span style="width: 62%;"></span> </div></div>    
                            </div>                            
                            <div class="row">
                                <div class="col"><ui><li><b> Agile </b></li></ui> </div>                            
                                <div class="col"><div class="skill-frameBar"> <span style="width: 65%;"></span> </div></div>
                            </div>
                        
                    </div>
                </div>
            </div>
         
        </div>  
    </div>
    
</html>